{% extends "mainlayout.html" %}

{% block content %}
    <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQqiY2JFLQtdC0g-uPU2bnoWWShSiwNl6C1A&s" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">MyDiary</h5>
        <p class="card-text">Platform where you can create your diaries and share with others.</p>
        <a href="/mydiary" class="btn btn-primary">Visit here</a>
        </div>
    </div>
{% endblock  %}